.movie_results{
    display:grid;
    grid-template-columns: minmax(210px,320px) minmax(210px,320px) minmax(210px,320px) minmax(210px,320px) ;
    grid-row-gap:60px;
    width:90%;
    margin:auto;
    justify-content:space-around;
    margin-top:60px;
}

.search > div{
    display:grid;
    grid-template-columns:45% 45%;
    justify-content:space-between;
    width:90%;
    margin:auto;
}

.search input{
    padding:12px;
    width:80%;
    font-size:14px;
    line-height: 20px;
}
.search > div{
    position:relative;
}
.search i{
   border:1px solid #dcdcdc;
   height:48px;
   width:48px;
   position: absolute;
   background:skyblue;
}

.fa-search:before{
    position: absolute !important;
    left:13px !important;
    top:13px !important;
    color:white;
}
h1{
    margin-left:40px;
}